.navigation {
    display:flex;
    justify-content: space-around;
    height: 10vh;
    background-color: #0099CC;
}

.logo {
    display: flex;
    align-items: center;
    color: #003399;
    font-size: 45px;
    font-weight: 700;
}

.nav_links {
    display: flex;
    align-items: center;
}

.link {
    font-size: 25px;
    color: #ccffcc;
}

.link:not(:last-child) {
margin-right: 30px;
}

.link:hover{
    cursor:pointer;  
}

