.savedComponent {
    color:#003399;
    text-align: center;
    background-color: #ccffcc; 
    /* padding-bottom: 15px; */
    padding-top: 15px;
    height: 10vh;
}

.bookDisplay {
    text-align: center;
    margin-top: 20px;
}

.card-header{
    background-color: #ccffcc;
}